{% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="{% static 'article/style.css' %}">
   <title>Лесные машины</title>
 </head>
 <body>
     <header>
       <h1> <a href="">{{ article.title }}</a> </h1>
     </header>
     <nav>
         <a href="{% url 'home' %}">Главная</a>
    </nav>
     <div class="container">
     {% block content %}
         <div class="details">
         <p>{{ article.body }}</p>
         </div>
     {% endblock content %}
     </div>
 </body>
 </html>